<div class="container">

  <h1 class="mt-3">
    BlogPost List
  </h1>

  <div class="d-flex justify-content-end mt-3">
    <a [routerLink]="['/admin/blogpost/add']" class="btn btn-primary">Add BlogPost</a>
  </div>

  <ng-container *ngIf="BlogPost$ | async as blogposts">
    <div class="mt-3">
      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Short Description</th>
              <th scope="col">Is Visible?</th>
              <th scope="col">Categories</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngFor="let blog of blogposts">
            <tr>
              <td>{{blog.title}}</td>
              <td>{{blog.shortDescription}}</td>
              <td>{{blog.isVisible}}</td>
              <td>
                <span *ngFor="let category of blog.category">
                  <span class="badge bg-secondary">{{category.name}}</span>
                </span>
              </td>
              <td>
                <a class="btn btn-light" [routerLink]="['/admin/blogpost', blog.id]">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

</div>
